body h1{
    color: blue;
}

body p{
    color: red;
    font-size: 30px;
    text-decoration: underline;
}

body ul{
    color: purple;
    font-size: 20px;
}

body button {
    color: black;
    background-color: gold;
    height: 8rem;
    width: 10rem;
    font-size: 30px;
    border-radius: 10%;
}

body {
    background-color: bisque;
}